.main-page {
  animation: gradient-shift 20s ease infinite;
  background: linear-gradient(45deg, #000000, #4E4FEB);
  background-size: 1000% 1000%;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.download-button {
  background-color: #4E4FEB;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  animation: size-shift 5s ease infinite;
}

@keyframes size-shift {
  0% {
    font-size: 16px;
    background-position: 0% 50%;
    background-color: #4E4FEB;
  }
  50% {
    font-size: 17px;
    background-position: 100% 50%;
    background-color: #000000;
  }
  100% {
    font-size: 16px;
    background-position: 0% 50%;
    background-color: #4E4FEB;
  }
}
